/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.ruby-version
.gem_rbs_collection/

*.pcap

# Go build artifacts for interop test helpers
/test/support/quicgo/client_bin
/test/support/quicgo/server_bin
